<div>
  <app-button
    [isDisabled]="isDisabled"
    class="remove"
    icon="fa-solid fa-minus"
    text="Remove 1 meat"
    value="meat"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    [isDisabled]="isDisabled"
    class="remove"
    icon="fa-solid fa-minus"
    text="Remove 1 cheese"
    value="cheese"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    [isDisabled]="isDisabled"
    class="remove"
    icon="fa-solid fa-minus"
    text="Remove 1 salad"
    value="salad"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    [isDisabled]="isDisabled"
    class="remove"
    icon="fa-solid fa-minus"
    text="Remove 1 cucumber"
    value="cucumber"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    [isDisabled]="isDisabled"
    class="remove"
    icon="fa-solid fa-minus"
    text="Remove 1 pepper"
    value="pepper"
    (event)="emitIngredient($event)"
  ></app-button>
</div>
