<div id="container">
  <div class="cards-container">
    <div class="card" *ngFor="let burger of burgers">
      <div>
        <div class="header">
          <h1><i class="fa-solid fa-burger"></i>Burger {{ burger.id }}</h1>
          <div>
            <button routerLink="/home/{{ burger.id }}" class="show">
              <i class="fa-solid fa-eye"></i>
            </button>
            <button (click)="deleteBurger(burger.id)" class="delete">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
        <div class="data">
          <h5>
            Ingredients: <b>{{ burger.ingredients.length }}</b>
          </h5>
        </div>
      </div>
      <div class="bottom">
        <h5>
          <i class="fa-solid fa-calendar"></i>Date: <b>{{ burger.creationDate }}</b>
        </h5>
      </div>
    </div>
  </div>
</div>
