@import 'src/assets/styles/config';

#container {
  width: 100%;
  height: 100%;

  .cards-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    justify-content: center;
    gap: 30px;
    animation-name: fadeIn;
    animation-duration: 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 100%;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lighten(#060913, 5%);
    width: 250px;
    height: 135px;
    border-radius: 10px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      h1 {
        @include interFont(white, 18px, 500);

        i {
          margin-right: 10px;
        }
      }

      div {
        display: flex;
        gap: 5px;

        @mixin buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 0;
          border-radius: 2px;
          cursor: pointer;
          color: #060913;
          @include transition;
        }

        .show {
          @include buttons();
          background-color: #00a6fb;

          &:hover {
            background-color: darken(#00a6fb, 15%);
            color: #00a6fb;
          }
        }

        .delete {
          @include buttons();
          background-color: red;

          &:hover {
            background-color: darken(red, 25%);
            color: red;
          }
        }
      }
    }

    .data {
      h5 {
        @include interFont(white, 13px, 500);
        padding-left: 20px;
        margin-bottom: 5px;

        i {
          margin-right: 10px;
        }

        b {
          @include interFont(white, 13px, 500);
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      background-color: #00a6fb;
      border-radius: 0px 0px 10px 10px;

      h5 {
        @include interFont(#060913, 14px, 500);
        padding-left: 20px;

        i {
          margin-right: 10px;
        }

        b {
          @include interFont(#060913, 14px, 500);
        }
      }
    }
  }
}
