<div id="sidebar">
  <div class="buttons-container">
    <button [class.active]="selectedPage == '/home'" routerLink="/home/0">
      <i class="bi bi-house-door"></i>
    </button>
    <button [class.active]="selectedPage == '/history'" routerLink="/history">
      <i class="bi bi-clock-history"></i>
    </button>
  </div>
</div>
