@import 'src/assets/styles/config';

#sidebar {
  position: fixed;
  width: 50px;
  border-right: 1px solid #1a1b25;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  @include responsive($medium) {
    position: relative;
    height: 50px;
    width: 100%;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #1a1b25;
  }

  .buttons-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @include responsive($medium) {
      flex-direction: row;
      height: 100%;
    }
  }
}

button {
  background-color: transparent;
  border: 0;
  color: #6b6c73;
  font-size: 25px;
  cursor: pointer;
  @include transition();
  border-right: 2px solid transparent;
  width: 100%;
  height: 100%;

  @include responsive($medium) {
    width: 30px;
  }

  &:hover {
    color: #00a6fb;
    border-right: 2px solid #00a6fb;

    @include responsive($medium) {
      width: 30px;
      height: 100%;
      border-right: 2px solid transparent;
      border-bottom: 2px solid #00a6fb;
    }
  }
}

.active {
  background-color: transparent;
  border: 0;
  color: #6b6c73;
  font-size: 25px;
  cursor: pointer;
  @include transition();
  width: 100%;
  height: 100%;
  color: #00a6fb;
  border-right: 2px solid #00a6fb;

  @include responsive($medium) {
    width: 30px;
    height: 100%;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #00a6fb;
  }
}
