@import 'src/assets/styles/config';

#header {
  width: calc(100vw - 50px);
  height: 50px;
  border-bottom: 1px solid #1a1b25;
  margin-left: 50px;
  display: flex;
  align-items: center;
  @include responsive($medium) {
    width: 100%;
    margin-left: 0;
  }

  h1 {
    i {
      margin-right: 15px;
    }

    padding-left: 40px;
    @include interFont(white, 25px, 500);
  }
}
