@import 'src/assets/styles/config';

#main-container {
  display: flex;
  @include responsive($medium) {
    display: block;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 100%;

  h1 {
    @include interFont(white, 25px, 500);
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    gap: 50px;
    padding: 50px;

    @include responsive($large) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 160px;
    }
    @include responsive($medium) {
      margin-top: 20px;
      flex-direction: column;
      padding: 0;
      padding-bottom: 100px;
    }
  }

  #ingredients {
    display: flex;
    flex-direction: column-reverse;
  }

  #buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include responsive($medium) {
      order: 3;
    }

    animation-name: fadeInDown;
    animation-duration: 1s;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }

  #history-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h2 {
      @include interFont(white, 25px, 500);
    }

    @include responsive($medium) {
      order: 3;
    }

    animation-name: fadeInDown;
    animation-duration: 1s;
  }

  #burger {
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive($medium) {
      order: 1;
    }

    animation-name: fadeInUp;
    animation-duration: 1s;
  }

  #table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: fadeInDown;
    animation-duration: 1s;
    @include responsive($medium) {
      order: 2;
    }

    div {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        width: 30%;
        padding: 5px;
        background-color: transparent;
        border: 1px solid #1a1b25;
        outline: none;
        @include interFont(white, 15px, 300);

        * {
          background-color: #1a1b25;
          outline: none;
          @include interFont(white, 15px, 300);
        }
      }

      h5 {
        @include interFont(white, 18px, 300);

        b {
          @include interFont(white, 18px, 500);
        }
      }
    }
  }

  .cleaning-ingredients {
    animation-name: cleaningIngredients;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes cleaningIngredients {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0;
      height: 0;
      display: none;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(400px);
    }
    to {
      opacity: 100%;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-400px);
    }
    to {
      opacity: 100%;
    }
  }
}
