<div id="main-container">
  <div class="container">
    <div [class.d-none]="burgerFromHistory" id="buttons">
      <div class="buttons-container">
        <app-add-buttons (ingredient)="addIngredient($event)"> </app-add-buttons>
        <app-remove-buttons
          [isDisabled]="saveDisabled"
          (ingredient)="removeIngredient($event)"
        ></app-remove-buttons>
      </div>
      <div style="width: 40%; margin-top: 10px">
        <app-button
          [isDisabled]="saveDisabled"
          class="save"
          icon="fa-solid fa-cart-plus"
          text="Save burger!"
          (event)="burgersService.saveBurger()"
        ></app-button>
      </div>
    </div>
    <div [class.d-none]="!burgerFromHistory" id="history-buttons">
      <h2>Burger {{ id }}</h2>
      <app-button
        class="add"
        icon="fa-solid fa-angle-left"
        text="Return to burger history"
        routerLink="/history"
      ></app-button>
      <app-button
        class="save"
        icon="fa-solid fa-plus"
        text="Start new burger"
        (event)="reloadComponent()"
      ></app-button>
    </div>
    <div id="burger">
      <app-burger>
        <div id="ingredients">
          <div
            *ngFor="let ingredient of burgersService.ingredients"
            class="{{ ingredient.ingredient }} {{
              !ingredient.removable ? 'addIngredient' : 'removeIngredient'
            }} {{ burgersService.ingredientsGettingCleaned ? 'cleaning-ingredients' : '' }}"
          ></div>
        </div>
      </app-burger>
    </div>
    <div id="table">
      <app-table [currencyCode]="currencyCode"></app-table>
      <div>
        <select (change)="changeCurrency($event)">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="MXN">MXN</option>
          <option value="AUD">AUD</option>
          <option value="JPY">JPY</option>
        </select>
        <h5>
          Total: <b>{{ burgersService.total | currencyConverter: currencyCode }}</b>
        </h5>
      </div>
    </div>
  </div>
</div>
