<div>
  <app-button
    class="add"
    icon="fa-solid fa-add"
    text="Add 1 meat"
    value="meat"
    (event)="emitIngredient($event)"
  >
  </app-button>
  <app-button
    class="add"
    icon="fa-solid fa-add"
    text="Add 1 cheese"
    value="cheese"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    class="add"
    icon="fa-solid fa-add"
    text="Add 1 salad"
    value="salad"
    (event)="emitIngredient($event)"
  >
  </app-button>
  <app-button
    class="add"
    icon="fa-solid fa-add"
    text="Add 1 cucumber"
    value="cucumber"
    (event)="emitIngredient($event)"
  ></app-button>
  <app-button
    class="add"
    icon="fa-solid fa-add"
    text="Add 1 pepper"
    value="pepper"
    (event)="emitIngredient($event)"
  ></app-button>
</div>
