@import 'src/assets/styles/config';

@mixin buttonStyles($color) {
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  @include interFont($color, 14px, 500);
  @include transition;
  border: 2px solid $color;
  @include responsive($medium) {
    justify-content: center;
    @include interFont($color, 13px, 400);
    padding: 8px 12px 8px 12px;
  }

  i {
    padding-top: 2px;
    margin-right: 10px;

    @include responsive($small) {
      display: none;
    }
  }

  &:hover {
    background-color: $color;
    color: #1e2336;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  width: 100%;
}

.add {
  @include buttonStyles(#536dfe);
}

.remove {
  @include buttonStyles(#ff5151);
}

.save {
  @include buttonStyles(#1bb45c);
}
