#burger-container {
  max-height: 400px;
  padding-inline: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.top-bread {
  position: fixed;
  margin: 5px;
  position: relative;
  content: '';
  background-color: #f4a63a;
  width: 250px;
  height: 110px;
  min-width: 250px;
  min-height: 110px;
  border-radius: 500px 500px 80px 80px;
  margin-bottom: 5px;
  //animation-name: fadeInUp;
  animation-duration: 1s;

  #hole-one {
    right: 120px;
    bottom: 20px;
    transform: rotate(30deg);
  }

  #hole-two {
    right: 60px;
    top: 20px;
    transform: rotate(80deg);
  }

  #hole-three {
    left: 20px;
    bottom: 30px;
    transform: rotate(10deg);
  }

  #hole-four {
    right: 80px;
    top: 50px;
    transform: rotate(45deg);
  }

  #hole-five {
    left: 120px;
    top: 10px;
    transform: rotate(70deg);
  }

  #hole-six {
    left: 80px;
    top: 50px;
    transform: rotate(10deg);
  }

  #hole-seven {
    right: 30px;
    top: 60px;
    transform: rotate(78deg);
  }

  #hole-eight {
    left: 50px;
    top: 30px;
    transform: rotate(19deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 100%;
  }
}

.addIngredient {
  animation-name: fadeInRight;
  animation-duration: 0.2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 100%;
  }
}

.removeIngredient {
  animation-name: remove;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

@keyframes remove {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
    width: 0;
    height: 0;
    transform: translateX(200px);
    display: none;
  }
}

.hole-bread {
  position: absolute;
  content: '';
  background-color: #f3df7b;
  width: 15px;
  height: 15px;
  border-radius: 100% 30%;
}

.cheese {
  margin: 5px;
  content: '';
  position: relative;
  background-color: #f4c93f;
  height: 20px;
  width: 250px;
  border-radius: 5px;

  &::after {
    position: absolute;
    right: 0;
    top: 5px;
    content: '';
    width: 0;
    border-left: 50px solid transparent;
    border-top: 40px solid #f4c93f;
    border-right: 50px solid transparent;
    height: 0;
    z-index: 1;
  }
}

.meat {
  margin: 5px;
  content: '';
  position: relative;
  background-color: #732401;
  height: 30px;
  width: 250px;
  border-radius: 20px;
}

.pepper {
  margin: 5px;
  content: '';
  position: relative;
  background-color: #dd2725;
  height: 20px;
  width: 250px;
  border-radius: 5px;

  &::before {
    position: absolute;
    left: 45%;
    height: 20px;
    width: 20px;
    content: '';
    background-color: #bd1714;
  }
}

.salad {
  margin: 5px;
  content: '';
  background-color: #41b330;
  position: relative;
  width: 85px;
  height: 20px;
  border-radius: 0px 0px 500px 500px;

  &::before {
    content: '';
    background-color: darken(#41b330, 10%);
    position: absolute;
    width: 100px;
    height: 20px;
    right: -90px;
    border-radius: 0px 0px 500px 500px;
    z-index: 1;
  }

  &::after {
    content: '';
    background-color: #41b330;
    position: absolute;
    width: 85px;
    height: 20px;
    right: -160px;
    border-radius: 0px 0px 500px 500px;
  }
}

.cucumber {
  margin: 5px;
  content: '';
  position: relative;
  background-color: #416e10;
  height: 20px;
  width: 250px;
  border-radius: 5px;

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30%;
    content: '';
    background-color: #2a4e01;
  }

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 30%;
    content: '';
    background-color: #2a4e01;
  }
}

.bottom-bread {
  margin: 5px;
  content: '';
  background-color: #f4a63a;
  width: 250px;
  height: 50px;
  min-width: 250px;
  min-height: 50px;
  border-radius: 200px 200px 500px 500px;
  //animation-name: fadeInDown;
  animation-duration: 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 100%;
  }
}
