<div id="burger-container">
  <div class="top-bread">
    <div id="hole-one" class="hole-bread"></div>
    <div id="hole-two" class="hole-bread"></div>
    <div id="hole-three" class="hole-bread"></div>
    <div id="hole-four" class="hole-bread"></div>
    <div id="hole-five" class="hole-bread"></div>
    <div id="hole-six" class="hole-bread"></div>
    <div id="hole-seven" class="hole-bread"></div>
    <div id="hole-eight" class="hole-bread"></div>
  </div>
  <ng-content></ng-content>
  <div class="bottom-bread"></div>
</div>
