@import 'src/assets/styles/config';

#page-container {
  width: calc(100vw - 50px);
  height: calc(100vh - 51px);
  margin-left: 50px;

  @include responsive($medium) {
    width: 100%;
    margin-left: 0;
  }
}
