@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #060913;
  overflow-x: hidden;
}

.d-none {
  display: none !important;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  margin-block: 10px;
  border-radius: 20px;
  background-color: lighten(#060913, 5%);
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: lighten(#060913, 10%);
}
