$large: 1300px;
$medium: 992px;
$small: 576px;

@mixin interFont($color, $size, $weight) {
  font-family: "Inter", sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin responsive($px) {
  @media (max-width: $px) {
    @content;
  }
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}
