@import 'src/assets/styles/config';

table {
  border-collapse: collapse;
  height: auto;

  tr {
    border-bottom: 1px solid #1a1b25;

    td:nth-child(even),
    th:nth-child(even) {
      border-left: 1px solid #1a1b25;
      border-right: 1px solid #1a1b25;
    }

    th {
      padding: 10px 30px 10px 30px;
      text-align: left;
      @include interFont(white, 15px, 500);
    }

    td {
      padding: 10px 30px 10px 30px;
      text-align: left;
      @include interFont(white, 15px, 300);
    }
  }
}
