<table>
  <tr>
    <th>Name</th>
    <th>Units</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor="let row of tableService.table">
    <td>{{ row.name | titlecase }}</td>
    <td>{{ row.units }}</td>
    <td>{{ row.price | currencyConverter: currencyCode }}</td>
  </tr>
</table>
